</main>
<footer class="mt-5">
  <div class="container-fluid footer ">
    <p class="mb-0">Copyright <%= new Date().getFullYear()%>.</p>
    <p>All rights reserved.</p>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/main.js"></script>

</body>

</html>