<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Post</title>



  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <!-- fonts end -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/assets/fontawesome/css/all.css">
  <link rel="stylesheet" href="/style/main.css">
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-warning navbar-light border-bottom">

    <div class="container-fluid px-2">
      <div class="d-flex flex-column">
        <a class="navbar-brand heading" href="/">Blog post</a>
        <em class="site-bio">A simple web application for blog posting</em>
      </div>
      <!-- Links -->
      <ul class="navbar-nav nav-btns">
        <li class="nav-item">
          <a class="nav-link p-2" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2" href="/contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
  <main>