* {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.heading {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  padding: 0;
  font-weight: 700;
  cursor: pointer;
}
.site-bio {
  text-decoration: none;
  color: black;
  padding: 0;
  font-weight: 500;
}
.nav-btns {
  column-gap: 1rem;
}
.post-btns {
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  column-gap: 0.5rem;
}
.footer {
  text-align: center;
  background-color: #433d3d;
  padding: 1rem;
  color: #fff;
}
.nav-link:hover,
.nav-link:active,
.selected {
  color: #fff;
  opacity: 1;
  background-color: #2b2b2b;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.custom-alert {
  position: fixed;
  opacity: 1;
  top: 20px;
  right: 20px;
  z-index: 1000;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s, fadeOut 0.5s 5s;
  background-color: #28a745;
  overflow: hidden;
}
.hidden {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fade-out animation */
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
