<%- include('partials/header.ejs') %>

  <div class="container w-50 mt-5 mb-5 padding-2">
    <h2>About Us</h2>
    <p>We are a team of passionate developers creating a simple web application for blog posting. Our goal is to provide
      a platform for users to share their thoughts and ideas with the world.</p>
    <p>We believe in the power of community and collaboration.</p>
  </div>

  <%- include('partials/footer.ejs')%>